<Reference Include="Consola, Version=1.0.0.0, Culture=neutral, processorArchitecture=MSIL">
  <SpecificVersion>False</SpecificVersion>
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Consola.0.1.7.1\lib\{{targetFrameworkNuget}}\Consola.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Consola.0.1.7.1\lib\{{targetFrameworkNuget}}\Consola.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Consola.0.1.7.1\lib\{{targetFrameworkNuget}}\Consola.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Consola.0.1.7.1\lib\{{targetFrameworkNuget}}\Consola.dll</HintPath>
</Reference>
<Reference Include="IronPython, Version=2.7.5.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="IronPython.Modules, Version=2.7.5.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Modules.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Modules.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Modules.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Modules.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="IronPython.SQLite, Version=2.7.5.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.SQLite.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.SQLite.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.SQLite.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.SQLite.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="IronPython.Wpf, Version=2.7.5.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Wpf.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Wpf.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Wpf.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\IronPython.Wpf.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.AspNet.SignalR.Core, Version=2.2.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Microsoft.AspNet.SignalR.Core.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.Core.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Microsoft.AspNet.SignalR.Core.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.Core.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Microsoft.AspNet.SignalR.Core.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.Core.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Microsoft.AspNet.SignalR.Core.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.Core.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.AspNet.SignalR.SystemWeb, Version=2.2.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Microsoft.AspNet.SignalR.SystemWeb.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Microsoft.AspNet.SignalR.SystemWeb.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Microsoft.AspNet.SignalR.SystemWeb.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Microsoft.AspNet.SignalR.SystemWeb.2.2.1\lib\{{targetFrameworkNuget}}\Microsoft.AspNet.SignalR.SystemWeb.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Dynamic, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Dynamic.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Dynamic.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Dynamic.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Dynamic.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Owin, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Microsoft.Owin.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Microsoft.Owin.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Microsoft.Owin.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Microsoft.Owin.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Owin.Host.SystemWeb, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Microsoft.Owin.Host.SystemWeb.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Host.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Microsoft.Owin.Host.SystemWeb.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Host.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Microsoft.Owin.Host.SystemWeb.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Host.SystemWeb.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Microsoft.Owin.Host.SystemWeb.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Host.SystemWeb.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Owin.Security, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Microsoft.Owin.Security.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Security.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Microsoft.Owin.Security.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Security.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Microsoft.Owin.Security.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Security.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Microsoft.Owin.Security.2.1.0\lib\{{targetFrameworkNuget}}\Microsoft.Owin.Security.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Scripting.AspNet, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.AspNet.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.AspNet.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.AspNet.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.AspNet.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Microsoft.Scripting.Metadata, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.Metadata.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.Metadata.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.Metadata.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\IronPython.2.7.5\lib\{{targetFrameworkNuget}}\Microsoft.Scripting.Metadata.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Nancy, Version=1.4.2.0, Culture=neutral, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Nancy.1.4.3\lib\net40\Nancy.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Nancy.1.4.3\lib\net40\Nancy.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Nancy.1.4.3\lib\net40\Nancy.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Nancy.1.4.3\lib\net40\Nancy.dll</HintPath>
  <Private>True</Private>
</Reference>
<Reference Include="Owin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f0ebd12fd5e55cc5, processorArchitecture=MSIL">
  <HintPath Condition="Exists('$(SolutionDir)\packages')">$(SolutionDir)\packages\Owin.1.0\lib\net40\Owin.dll</HintPath>
  <HintPath Condition="Exists('..\packages')">..\packages\Owin.1.0\lib\net40\Owin.dll</HintPath>
  <HintPath Condition="Exists('..\..\packages')">..\..\packages\Owin.1.0\lib\net40\Owin.dll</HintPath>
  <HintPath Condition="Exists('{{binRelativePath}}')">{{binRelativePath}}\Owin.1.0\lib\net40\Owin.dll</HintPath>
  <Private>True</Private>
</Reference>
